a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* background-image: url('images/web/s1\ ft1.png'), url('images/web/bg.png');
    background-position: center 0px, center 20px;
    background-repeat: no-repeat, no-repeat; */
}

/* .body-div {
    display: inline-table;
} */

#img-logo {
    position: absolute;
    margin-top: 2rem;
    margin-left: 10rem;
}

/* nav */

.nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: black; */
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 1.3rem;
    padding: 2rem;
    color: white;
    list-style: none;
}

.nav-list a:hover {
    color: aqua;
}

/* Home section */

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('images/web/s1\ ft1.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 0px;
}

.home-section h1 {
    text-align: center;
    color: white;
    font-size: 8rem;
    width: 60%;
    /* height: 40%; */
}

.home-section p {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    width: 75%;
}

.home-section button {
    background-color: aqua;
    border-style: hidden;
    border-radius: 40px;
    padding: 25px 20px 25px 20px;
    font-size: 1.2em;
    color: white;
    margin-top: 140px;
}

.home-section button:hover {
    color: aqua;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 700px) {
    .home-section {
        background: url('images/web/s1\ ft1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .home-section h1{
        font-size: 3rem;
    }

    .home-section p {
        font-size: 0.8rem;
    }

    .home-section button {
        font-size: 0.8rem;
        width: 300px;
    }

}

/* Body section */

.body-section {
    margin: auto;
    background: url('images/web/bg.png');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .body-section {
        background: none;
    }
}

.body-section h1 {
    font-size: 3rem;
    margin: 0;
    padding: 70px 0 80px 70px;
}

/* About section */

.about-section div {
    background-color: white;
    width: 55%;
    padding: 20px;
    font-size: 20px;
    margin-left: 70px;
    box-shadow: 0px 0px 30px 0px gray;
}

@media (max-width: 700px) {
    .about-section h1 {
        padding-bottom: 30px;
    }

    .about-section div{
        width: 72%;
    }
}

/* Services section */

.services-section h1 {
    padding-top: 100px;
}

.grid-container-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 30px;
}

.grid-item-services {
    text-align: center;
    margin: 10px 10px 10px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 450px;
    border-radius: 20px;
}

.grid-item-services h2 {
    color: yellow;
    font-size: 30px;
    padding: 20px 0 40px 0;
}

.grid-item-services p {
    color: white;
    font-size: 20px;
    padding: 0px 40px 40px 20px;
    font-weight: bold;
}

.services {
    background: url('images/web/s3\ ft1.png');
    background-position: center;
}

.media {
    background: url('images/web/s3\ ft2.png'); 
    background-position: center;
}

.implementation {
    background: url('images/web/s3\ ft3.png'); 
    background-position: center;
}

@media (max-width: 700px) {
    .services-section h1 {
        padding-bottom: 0;
    }

    .grid-item-services {
        width: 500px;
        height: 420px;
        border-radius: 50px;
    }

    .grid-container-services p {
        font-size: 15px;
    }

    .services {
        background: url('images/web/s3\ ft1.png');
        background-position: center;
    }

    .media {
        background: url('images/web/s3\ ft2.png');
        background-position: center;
    }

    .implementation {
        background: url('images/web/s3\ ft3.png');
        background-position: center;
    }
}

/* Differentials section */

.grid-container-diff {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 30px;
}

.grid-item-diff {
    text-align: center;
    margin: 10px 10px 10px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}

.grid-item-diff p {
    color: white;
    font-size: 20px;
    padding: 0px 40px 40px 20px;
    font-weight: bold;
}

.grid-item-diff i {
    color: white;
    padding: 50px;
}

.first-card {
    background: url('images/web/s4\ ft1.png');
    background-position: center;
    
}

.second-card {
    background: url('images/web/s4\ ft2.png');
    background-position: center;
}

.third-card {
    background: url('images/web/s4\ ft3.png');
    background-position: center;
}

@media (max-width: 700px) {
    .differentials-section h1 {
        padding-bottom: 0;
    }

    .grid-item-diff {
        width: 400px;
        height: 400px;
        margin: auto;
        border-radius: 50px;
    }

    .grid-item-diff p {
        font-size: 16px;
        width: 300px;
        padding: 0 0 0 50px;
        text-align: center;
    }

    .first-card {
        background: url('images/mobile/s4\ ft1.png');
        background-position: center;
        background-size: cover;
    }

    .second-card {
        background: url('images/mobile/s4\ ft2.png');
        background-position: center;
        background-size: cover;
    }
    
    .third-card {
        background: url('images/mobile/s4\ ft3.png');
        background-position: center;
        background-size: cover;
    }
}

/* Contact section */

.contact-section {
    background-color: yellow;
    padding: 75px 0 75px 0;
    justify-content: center;
}

.grid-container-contact {
    display: grid;
    align-items: center;
    color: white;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    padding: 30px;
    background-color: black;
}

.grid-item-contact {
    text-align: left;
    margin: 10px 10px 10px 40px;
    height: 650px;
    width: 560px;
    font-size: 20px;
}

#header-contact-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

#header-contact-grid img {
    position: relative;
    top: 30px;
}

#info-contact-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container-contact i {
    margin-top: 30px;
}

.fa-facebook:hover {
    cursor: pointer;
}

.fa-linkedin:hover {
    cursor: pointer;
}

.grid-container-contact i span {
    padding: 20px;
    font-size: 20px;
}

.yellow-icon {
    color: yellow;
}

#location-address {
    color: white;
    font-size: 12px;
}

#contact-form {
    background-color: gray;
    margin-top: 30px;
    padding: 20px;
    width: 600px;
}

@media (max-width: 700px) {
    #contact-form {
        width: 500px;
    }
}

.contact-form-input {
    padding: 15px;
    
}

#contact-form textarea {
    width: 100%;
    outline: none;
    resize: none;
    height: 150px;
    padding: 10px 0 0 10px;
}

#contact-form textarea::placeholder {
    font-size: 25px;
    padding: 5px;
    color: rgba(128, 128, 128, 0.5);
}

#contact-form input {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 0;
}

#contact-form input::placeholder {
    font-size: 25px;
    padding: 10px;
    color: rgba(128, 128, 128, 0.5);
}

#contact-form button {
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: aqua;
    border-style: hidden;
    width: 100%;
    height: 70px;
    padding: 25px 20px 25px 20px;
    font-size: 1.2em;
    color: white;
}

#send-button-div {
    padding: 15px;
}

