a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

#img-logo {
    position: absolute;
    margin-top: 2rem;
    margin-left: 10rem;
}

/* nav */

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 1.3rem;
    padding: 2rem;
    color: white;
    list-style: none;
}

/* Home section */

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('images/web/s1\ ft1.png');
    background-size: auto;
    background-repeat: no-repeat;
}

.home-section h1 {
    text-align: center;
    color: white;
    font-size: 8rem;
    width: 60%;
    /* height: 40%; */
}

.home-section p {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    width: 75%;
}

.home-section button {
    background-color: #89CFF0;
    border-color: #89CFF0;
    border-radius: 40px;
    padding: 25px 20px 25px 20px;
    font-size: 1.2em;
    color: white;
    margin-top: 140px;
}


